<h2 mat-dialog-title>Edit Employee</h2>
<div mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first_name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last_name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Manager</mat-label>
        <input matInput formControlName="manager_name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Security Level</mat-label>
        <input matInput formControlName="security_level">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Is Active?</mat-label>
        <mat-select formControlName="is_active">
            <mat-option value=false>
                False
            </mat-option>
            <mat-option value=true>
                True
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
