
<div>
    <div>
        <div>
            <div class="table-header">
                <div class="row-header">
                    <span>Assignment Time ID </span>
                    <span>Assignment ID </span>
                    <span>Start Date </span>
                    <span>End Date </span>
                    <div *ngFor="let assignmentTime of assignmentTimes">
                        {{assignmentTime.assignment_time_id}}
                        {{assignmentTime.assignment_id }}    -   {{(assignmentTime.start_time | date:'M-d-yyyy h:mm aa')}}   -   {{(assignmentTime.end_time | date:'M-d-yyyy h:mm aa')}}
                        <button mat-raised-button type="button" color="accent" (click)="openDialog(assignmentTime)">
                            Edit
                        </button>
                        <button mat-raised-button type="button" color="warn"(click)="deleteAssignmentTimeEntry(assignmentTime)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button type="button" (click)="openDialog()">Open</button> -->
    </div>
    <button type="button" (click)="addAssignmentTimeEntry(projectName)">Add time</button>
</div>

