<div *ngIf="editing; else adding">
    <h2 mat-dialog-title>Add Assignment</h2>
</div>
<ng-template #adding>
    <h2 mat-dialog-title>Edit Assignment</h2>
</ng-template>

<div mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Employee</mat-label>
        <select matNativeControl required formControlName="employee_id">
            <option value="1">Employee 1</option>
            <option value="2">Employee 2</option>
            <option value="3">Employee 3</option>
        </select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <select matNativeControl required formControlName="project_id">
            <option value="1">Project 1</option>
            <option value="2">Project 2</option>
            <option value="3">Project 3</option>
        </select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input type="datetime-local" matInput formControlName="start_date">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input type="datetime-local" matInput formControlName="end_date">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <select matNativeControl required formControlName="role_id">
            <option value="1">Role 1</option>
            <option value="2">Role 2</option>
            <option value="3">Role 3</option>
        </select>
    </mat-form-field>
</div>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>