<div *ngIf="editing; else adding">
    <h2 mat-dialog-title>Add Assignment</h2>
</div>
<ng-template #adding>
    <h2 mat-dialog-title>Edit Assignment</h2>
</ng-template>

<div mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>Employee</mat-label>
        <mat-select matInput required formControlName="employee_id">
            <mat-option *ngFor="let employee of employees" [value]="employee.employee_id">{{employee.first_name + " " + employee.last_name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <mat-select matInput required formControlName="project_id">
            <mat-option [value]="project_id">{{projectName}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Start Date</mat-label>
        <input type="datetime-local" matInput required formControlName="start_date">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>End Date</mat-label>
        <input type="datetime-local" matInput required formControlName="end_date">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select matInput required formControlName="role_id">
            <mat-option *ngFor="let role of roles" [value]="role.role_id">{{role.role_name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>