node_modules
_builds
dist

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vscode

TestResults
packages
obj
bin
Generated

_ARCHIVE

# Visual Studio 2015/2017 cache/options directory
.vs/

