<mat-card-title>Project Time Entry</mat-card-title>
<mat-card-content [hidden]="loggedIn">
    <div *ngIf="loading" class="spinnyContain">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        <span>Loading...</span>
    </div>
    <div [hidden]="loading">
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="projectHours">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.projectHours; else nullBlock"> {{element.projectHours}} </span>
                    <ng-template #nullBlock> 0 </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="status_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element"> {{element.status_name}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <button mat-raised-button color="accent"
                        (click)="openTimeEntryDialog(row.name,row.projectAssignmentId)">
                        Add
                    </button>
                    <button mat-raised-button color="warn" (click)="viewTimeEntry(row.name, row.projectAssignmentId)">
                        View
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>

</mat-card-content>
<div *ngIf="!loggedIn">Please Log in</div>