<mat-card-title>Employees</mat-card-title>
<mat-card-content>
    <button mat-button type="button" class="align-left" (click)="backClicked()">&#8619;Back</button>
    <table mat-table [dataSource]="employees">
        
        <ng-container matColumnDef="first_name">
            <th mat-header-cell *matHeaderCellDef> First Name </th>
            <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
        </ng-container>

        <ng-container matColumnDef="last_name">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.last_name}}</td>
        </ng-container>

        <ng-container matColumnDef="manager_name">
            <th mat-header-cell *matHeaderCellDef> Manager </th>
            <td mat-cell *matCellDef="let element"> {{element.manager_name}} </td>
        </ng-container>

        <ng-container matColumnDef="security_level">
            <th mat-header-cell *matHeaderCellDef> Security Level </th>
            <td mat-cell *matCellDef="let element"> {{element.security_level}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="accent" (click)="openEmployeeDialog(row)" >
                    Edit
                </button>
                <button mat-icon-button type="button" color="warn" (click)="deleteEmployee(row.employee_id)" >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-raised-button color="primary" class="btnAdd" (click)="openEmployeeDialog()">Add Employee</button>
</mat-card-content>
