<mat-toolbar color="primary">
    <header>
        <a [routerLink]="['/']" md-colors="{color:'primary'}">Time Tracker</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="/">Home</a>&nbsp;
        <!-- change to isManager to correctly hide -->
        <a routerLink="manager" *ngIf="true">Manager</a>&nbsp;
        <a routerLink="profile" *ngIf="auth.loggedIn">Profile</a>&nbsp;
        <button mat-button (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
        <button mat-button (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
    </header>
    <span class="example-spacer"></span>
    <span class="welcome-name"*ngIf="employee_name != null">Welcome, {{employee_name}}</span>
</mat-toolbar>